.outer {
    display: flex;
    width: 75%;
    justify-content: space-around;
    margin-top: 20px
}

.avaOuter {
    width: 300px;
}

.avaWrap {
    position: relative;
    width: 180px;
    height: 200px;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 0 6px 0 gainsboro;

}

.ava {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
}

.description {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 0 6px 0 gainsboro;
    width: 70%;
    height: 400px;
}

.name {
    font-size: 26px;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}

.items {
    margin-left: 70px;
}

.title {
    margin-left: 30px;
    font-weight: bold;
}

.looking {
    margin-left: 30px;
    margin-top: 10px;
    font-weight: bold;
}

.status {
    text-align: center;
    margin-bottom: 10px;

}


.avaInput {
    display: none;
}

.avaLabel {
    border: 1px solid black;
    padding: 3px 6px;
}

.avaLabel:hover {
    cursor: pointer
}

.avaForm {
    margin-top: 10px;
    margin-left: 35px;
}


.aboutMe {
    margin-left: 30px;
    font-weight: bold;
}


.edit {
    margin-top: 30px;
    margin-left: 210px;
}

.edit button {
    padding: 3px 40px;
    border: 1px solid black;
    background: none;
}

.photoInput {
    visibility: hidden;
}

avaForm {
    margin-top: 5px;

}

.changePhoto {
    border: 1px solid black;
    padding: 3px 15px;
}